.list {
  display: flex;
  align-items: center;
}

.item {
  height: 4rem;
  width: 10rem;
  border-radius: 50px;
  background-color: var(--color-gray-light);
}

.item:not(:last-child) {
  margin-right: 15px;
}
