.grid {
  display: grid;
  grid-gap: 2rem;
}

.item {
  padding: 1rem;
  background-color: var(--color-gray-light);
  padding-bottom: 56%;
  border-radius: 10px;
}

@media only screen and (min-width: 1024px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
